### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### OS Files ###
.DS_Store

### Local Notes ###
joonseo.md
sql/

### Pipeline Workspace ###
pipeline-workspace/

### Env ###
.env

### Python ###
__pycache__/
*.py[cod]
